body {
    font-family: cursive;
    background-color: grey;
}

a {
    color: rgb(90, 88, 88);
    text-decoration: none;
}

img {
    display: block;
    width: 100%;

    object-fit: cover;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.photo-card-gallary {
    width: calc((100% / 3)- 90px);
    position: relative;
    background-color: rgb(197, 196, 196);
    overflow: hidden;

}

.photo-card-gallary:hover {
    transform: scale(1.06);
}

/* .info-gallary {
    display: flex;


} */

/* .search-form {
    display: flex;
    justify-content: center;

} */

/* input {
    width: 300px;
    height: 20px;
    border-radius: 20px;

} */

/* button {
    border-radius: 20px;
} */